/* stylelint-disable import-notation */
/* stylelint-disable at-rule-no-unknown */

@import "tailwindcss";

@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --max-container-w: 1920px;
  --animate-fade-in-up: fade-in-up 1.5s ease-out both 0.5s;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html:not([data-theme]) {
  visibility: hidden;
}

:root {
  --caret-color: black;
}

[data-theme="dark"] {
  --caret-color: white;
}
