/* stylelint-disable-next-line import-notation */
@import "tailwindcss";

/* stylelint-disable-next-line at-rule-no-unknown */
@plugin "daisyui";

/* stylelint-disable-next-line at-rule-no-unknown */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html:not([data-theme]) {
  visibility: hidden;
}
