---
import GithubIcon from "../assets/icons/github.svg";
import LinkedIn from "../assets/icons/linkedin.svg";
import { getRoutePath } from "../i18n/config";
import { Config } from "../utils/config";
---

<footer
  class="footer footer-center my-5 max-w-[var(--max-container-w)] mx-auto flex flex-col"
>
  <div class="w-[90%] border-b border-gray-400"></div>

  <aside class="flex flex-col gap-5">
    <div class="flex gap-8">
      <a
        href={Astro.locals.t("common.socialNetworks.github")}
        class="flex items-center gap-2"
      >
        <GithubIcon class="text-black dark:fill-gray-100 w-[24px] h-[24px]" />
        <span class="text-base text-gray-900 dark:text-gray-100">Github</span>
      </a>
      <a
        href={Astro.locals.t("common.socialNetworks.linkedin")}
        class="flex items-center gap-2"
      >
        <LinkedIn class="fill-[#0077B7] dark:fill-gray-100 w-[24px] h-[24px]" />
        <span class="text-base text-gray-900 dark:text-gray-100">Linkedin</span>
      </a>
    </div>
    <div class="flex flex-col gap-1">
      <p class="text-center">
        <span class="text-base text-gray-900 dark:text-gray-200">
          © {new Date().getFullYear()}
        </span>
        -
        <strong class="text-base text-gray-900 dark:text-gray-200">
          {Astro.locals.t("common.fullName")}
        </strong>
      </p>
      <p class="text-base text-gray-900 dark:text-gray-200">
        {Astro.locals.t("common.position")}
      </p>
      <small>
        <a href={getRoutePath("changelog", Astro.locals.locale)}>
          {Astro.locals.t("common.version")}
          {Config.version}
        </a>
      </small>
    </div>
  </aside>
</footer>
