<footer
  class="footer sm:footer-horizontal footer-center border-base-300 dark:border-white border-t m-4px-10 py-4"
>
  <aside>
    <p class="text-center">
      © {new Date().getFullYear()} -
      <strong>{Astro.locals.t("common.fullName")}</strong>
    </p>
    <p>{Astro.locals.t("common.position")}</p>
  </aside>
</footer>
