---
import { ROUTES, type RouteKey } from "../constants/routes";
import { getRoutePath } from "../i18n/config";
import LogoIcon from "../assets/icons/logo.svg";

type Link = { href: RouteKey; label: string };
const links: Link[] = Object.keys(ROUTES).map((key) => ({
  href: key as RouteKey,
  label: Astro.locals.t(`common.nav.${key}`),
}));

const { isMobile = false } = Astro.props;
---

{
  !isMobile && (
    <ul class="hidden lg:flex">
      {links.map(({ href, label }, idx) => (
        <>
          <li>
            <a
              href={getRoutePath(href, Astro.locals.locale)}
              class={`text-base text-gray-500 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white cursor-pointer p-2`}
            >
              {label}
            </a>
          </li>
          {idx < links.length - 1 && (
            <span class="px-1 text-black dark:text-white">|</span>
          )}
        </>
      ))}
    </ul>
  )
}

{
  isMobile && (
    <div>
      <input id="my-drawer-1" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <label for="my-drawer-1" class="p-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-5 w-5 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </label>
      </div>
      <div class="drawer-side">
        <label
          for="my-drawer-1"
          aria-label="close sidebar"
          class="drawer-overlay"
        />

        <div class="menu bg-base-200 min-h-full w-80 p-4">
          <ul class="flex-1">
            {links.map(({ href, label }, idx) => (
              <>
                <li>
                  <a
                    href={getRoutePath(href, Astro.locals.locale)}
                    class={`text-base text-gray-500 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white cursor-pointer p-2`}
                  >
                    {label}
                  </a>
                </li>
              </>
            ))}
          </ul>
          <slot />
          <div class="flex gap-4">
            <LogoIcon
              width="40px"
              height="40px"
              class="fill-gray-600 dark:fill-gray-100"
            />
            <div class="flex flex-col">
              <p>{Astro.locals.t("common.fullName")}</p>
              <small>{Astro.locals.t("common.position")}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  )
}
