---
import Menu from "./Menu.astro";
import LanguageSelector from "./LanguageSelector.astro";
import ThemeToggle from "./ThemeToggle.astro";
import LogoIcon from "../assets/icons/logo.svg";
import { getRoutePath } from "../i18n/config";
---

<div class="navbar">
  <div class="navbar-start flex gap-2">
    <a href={getRoutePath("home", Astro.locals.locale)}>
      <LogoIcon
        width="40px"
        height="40px"
        class="fill-gray-600 dark:fill-gray-100"
      />
    </a>
  </div>
  <nav class="navbar-center hidden lg:flex">
    <Menu />
  </nav>
  <div class="navbar-end">
    <div class="lg:hidden order-2">
      <Menu isMobile="true">
        <div class="mb-5">
          <ThemeToggle />
        </div>
      </Menu>
    </div>
    <div class="hidden lg:inline-flex items-center">
      <ThemeToggle />
    </div>
    <LanguageSelector class="order-1" />
  </div>
</div>
