---
import Menu from "./Menu.astro";
import LanguageSelector from "./LanguageSelector.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<div class="navbar bg-base-100 shadow-sm">
  <nav class="navbar-start">
    <Menu />
  </nav>
  <div class="navbar-end">
    <ThemeToggle />

    <LanguageSelector />
  </div>
</div>
