---
import { Icon } from "astro-icon/components";

const KEY = "settings";
---

<div class="grid grid-cols-1">
  <div
    class="relative z-0 inline-grid grid-cols-2 gap-0.5 rounded-full bg-gray-950/5 p-0.75 text-gray-950 dark:bg-white/10 dark:text-white"
  >
    <div
      class="relative rounded-full p-1.5 *:size-7 has-checked:bg-white has-checked:ring has-checked:inset-ring has-checked:ring-gray-950/10 has-checked:inset-ring-white/10 sm:p-0 dark:has-checked:bg-gray-600 dark:has-checked:text-white dark:has-checked:ring-transparent cursor-pointer"
    >
      <input
        type="radio"
        class="absolute inset-0 appearance-none cursor-pointer"
        name="theme-switcher"
        aria-label="Light theme"
        value="light"
      />
      <Icon name="tabler:sun" class="p-1" />
    </div>
    <div
      class="relative rounded-full p-1.5 *:size-7 has-checked:bg-white has-checked:ring has-checked:inset-ring has-checked:ring-gray-950/10 has-checked:inset-ring-white/10 sm:p-0 dark:has-checked:bg-gray-600 dark:has-checked:text-white dark:has-checked:ring-transparent cursor-pointer"
    >
      <input
        type="radio"
        class="absolute inset-0 appearance-none cursor-pointer"
        name="theme-switcher"
        aria-label="Dark theme"
        value="dark"
      />
      <Icon name="tabler:moon" class="p-1" />
    </div>
  </div>
</div>

<script>
  const settings = JSON.parse(localStorage.getItem("settings") || "{}");

  document.getElementsByName("theme-switcher").forEach((elem) => {
    (elem as HTMLInputElement).checked =
      (elem as HTMLInputElement).value === settings.theme;

    elem.addEventListener("change", (event) => {
      const theme = (event?.target as HTMLInputElement)?.value;
      document.documentElement.setAttribute("data-theme", theme);

      settings.theme = theme;
      localStorage.setItem("settings", JSON.stringify(settings));
    });
  });
</script>
