---
import "../styles/global.css";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import LogoIcon from "../assets/icons/logo.svg";

interface Props {
  title: string;
}

const { title }: Props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script>
      import { getSettings } from "../utils/localStorage";
      import { setTheme } from "../utils/settings";

      (() => {
        const settings = getSettings();
        const prefersDark = matchMedia("(prefers-color-scheme: dark)").matches;
        const theme = settings.theme || (prefersDark ? "dark" : "light");

        setTheme(theme);
      })();
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={LogoIcon.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col bg-gray-200 dark:bg-gray-900">
    <Header />
    <main
      class="flex flex-1 mx-auto w-full max-w-[var(--max-container-w)] my-5 lg:my-20 h-full"
    >
      <slot />
    </main>
    <Footer />
    <script>
      import { initializeSharedWorker } from "../utils/workers";
      initializeSharedWorker();
    </script>
  </body>
</html>
